<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    
    <title>{% block name %}{% endblock %}-Bot</title>

    <!-- Bootstrap for styling -->
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:600|Noto+Serif|Special+Elite" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/style.css') }}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.min.js"></script>  
</head>

<body class="container">

<header>
    {% block header %}{% endblock %}
</header>

<div class="content">

    <!-- author submission form -->
    <form method="POST">
        <input name="name" id="name" class="name" required>
        <input id="button" type="submit" value="speak">
    </form>

    <div class="line"></div>

    <!-- resulting text -->
    <div class="message-from-author">{% block content %}{% endblock %}</div>

    <div class="line"></div>

    <script type="text/javascript">


    function runPyScript(){
        authorName = document.getElementsByClassName('name')["value"];
        return $.ajax({
          url: "/",
          type: "POST",
          data: { name: authorName },
          async: false
        });
    }

    $('#button').click(function(){
        runPyScript();     
    });

    </script>

    <p class="instruc"> Instructions: Enter an author whose work is on Project Gutenberg. I will use a Markov model to generate text with your author's rhythm and word choice. Loading may take a couple seconds. Use their full name with exact spelling.
    </p>
    
    <p class="instruc"> The person's works must be public domain, so try classical writers or former presidents. Presidential addresses are public domain and tend to produce funny output.
    </p>

</div>

<footer>
    <small>Created with appreciation using Markovify, Project Gutenberg, Gutendex, and Flask</small>
</footer>
</body>
</html>